.exercisesList{
    display: flex;
    flex-wrap: wrap;
    gap :20px;
    justify-content: center;
    
}
.sort{
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.btns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.btns button{
    background-color:#1face1 ;
    padding: 10px;
    border: none;
    margin-top: 5px;
    color: #fff;
    

}
.bodypart{
    display: flex;
    gap: 10px;
    position: absolute;
    width: 100%;
    outline: 2px solid yellow;
    left: 0;
    
    
}
